{% extends 'base.html.twig' %}

{% block title %}
{{parent()}} - Ingresar
{% endblock %}

{% block body %}
 <div class="container d-flex w-50 justify-content-center align-items-center">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
           Estas logueado como {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Cerrar sesión</a>
        </div>
    {% endif %}
   
    <h1 class="h3 mb-3 font-weight-normal">PWD Mailer</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Contraseña</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn btn-lg btn-primary" type="submit">
        Ingresar
    </button>
</form>
</div>
{% endblock %}
