{% extends 'base.html.twig' %}

{% block title %}
{{parent()}} - Registrarse
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        body{
            background-image: url('{{ asset('images/register.jpg') }}');
            background-size: cover;
            color:white;
        }
    </style>
{% endblock %}

{% block body %}

<div class="container d-flex w-50 justify-content-center align-items-center">
<div class="row w-50 m-1">
<h3>Registro</h3>
{{form(form)}}
<div>
<button type="button" class="btn btn-md mt-1 btn-secondary" onclick="location.href = 'http://127.0.0.1:8000/';">Atrás</button>
</div>
{% for flash_message in app.session.flashbag.get('success') %}
    <div class="flash-notice container text-center p-2">
        {{ flash_message }}
        <button class="p-2 w-50 btn btn-success" onclick="location.href = 'http://127.0.0.1:8000/login';">Ingresar</button>
    </div>
{% endfor %}
</div>

</div>



{% endblock %}
